ASPNETCORE_ENVIRONMENT=Production
DATABASE_URL=mysql
DATABASE_SCHEMA=watchgate-locksight-db
DATABASE_USER=root
DATABASE_PASSWORD=change-me
TOKEN_SECRET=change-me-with-a-long-secure-secret-for-jwt-generation
